@import url(https://fonts.googleapis.com/css2?family=VT323&family=East+Sea+Dokdo);
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@keyframes power-on {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}
@keyframes scroll {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes type {
  from {
    width: 0;
  }
}
@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@keyframes scan {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.15795;
  }
  5% {
    opacity: 0.31511;
  }
  10% {
    opacity: 0.94554;
  }
  15% {
    opacity: 0.2469;
  }
  20% {
    opacity: 0.62031;
  }
  25% {
    opacity: 0.0293;
  }
  30% {
    opacity: 0.00899;
  }
  35% {
    opacity: 0.5344;
  }
  40% {
    opacity: 0.12778;
  }
  45% {
    opacity: 0.52042;
  }
  50% {
    opacity: 0.3823;
  }
  55% {
    opacity: 0.2198;
  }
  60% {
    opacity: 0.9383;
  }
  65% {
    opacity: 0.86615;
  }
  70% {
    opacity: 0.68695;
  }
  75% {
    opacity: 0.55749;
  }
  80% {
    opacity: 0.96984;
  }
  85% {
    opacity: 0.0361;
  }
  90% {
    opacity: 0.24467;
  }
  95% {
    opacity: 0.08351;
  }
  100% {
    opacity: 0.54813;
  }
}
* {
  box-sizing: border-box;
}

html,
body {
  background: #383838;
  color: #00dd00;
  font-size: 64.5%;
  font-size: 1.4em;
  font-family: "VT323", Courier;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}

p {
  line-height: 100%;
  margin: 0;
}

span {
  animation: blink 1s infinite;
}

ul {
  list-style: none;
}

ul a:before,
p a:before {
  color: #00dd00;
  content: " [ ";
}

ul a:after,
p a:after {
  color: #00dd00;
  content: " ] ";
}

header.site {
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

nav.site {
  margin: 0 0 40px 0;
  width: 100%;
}

nav.site ul {
  padding: 0;
}

nav.site ul li {
  display: inline-block;
  padding: 0 10px;
  min-width: 250px;
  width: auto;
}

.overlay {
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
}

.overlay:before {
  background: linear-gradient(#101010 25%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
  background-size: 100% 3px, 6px 100%;
  content: "";
  display: block;
  pointer-events: none;
  position: fixed;
  top: 3%;
  right: 30%;
  bottom: 3%;
  left: 3%;
  z-index: 2;
  margin: 15px 17px;
}

.overlay:after {
  animation: flicker 0.3s infinite;
  background: rgba(16, 16, 16, 0.2);
  content: "";
  display: block;
  pointer-events: none;
  position: fixed;
  top: 3%;
  right: 30%;
  bottom: 3%;
  left: 3%;
  z-index: 2;
  margin: 15px 17px;
}

.col {
  float: left;
  padding: 0 20px;
}

.col.two {
  width: auto;
}

.header {
  height: 15%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  height: 10%;
}
.footer > div {
  margin-left: 10px;
}

.content {
  height: 75%;
  overflow-y: scroll;
}
.content::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #212121;
}
.content::-webkit-scrollbar {
  width: 10px;
  background-color: lighter(#212121, 50%);
}
.content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  background-color: #444;
}

.wrapper {
  animation: power-on 1s 1;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: power-on 1s 1;
}

.content {
  overflow: hidden;
  padding: 40px;
  position: relative;
  width: 95%;
}

#logo-v {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 200px;
}

label {
  clear: left;
  display: block;
  float: left;
  margin-right: 10px;
  padding-top: 5px;
}

input[type=text],
input[type=password],
textarea {
  background: transparent;
  border: none;
  color: #00dd00;
  display: block;
  float: left;
  font-family: "VT323", Courier;
  font-size: 1.2em;
  position: relative;
  width: 80%;
  z-index: 10;
}

textarea {
  margin-bottom: 20px;
  overflow: auto;
  resize: none;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
input[type=submit]:focus,
.button:focus {
  outline: 0;
}

input[type=submit],
.button {
  background: transparent;
  border: 1px solid #00dd00;
  clear: both;
  color: #00dd00;
  cursor: hand;
  display: inline-block;
  font-family: "VT323", Courier;
  font-size: 1em;
  margin-bottom: 20px;
  opacity: 0.25;
  padding: 10px 100px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 10;
}

input[type=submit]:hover,
.button:hover {
  background: #00dd00;
  color: #383838;
  opacity: 0.8;
}

.expandingArea {
  position: relative;
}

.scanline {
  animation: scroll 10s 5s infinite;
  background: -moz-linear-gradient(top, rgba(0, 221, 0, 0) 0%, rgb(0, 221, 0) 50%, rgba(0, 221, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 221, 0, 0) 0%, rgb(0, 221, 0) 50%, rgba(0, 221, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 221, 0, 0) 0%, rgb(0, 221, 0) 50%, rgba(0, 221, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0000dd00", endColorstr="#0000dd00",GradientType=0 );
  display: block;
  height: 20px;
  opacity: 0.05;
  position: absolute;
  left: 0;
  right: 0;
  top: -5%;
  z-index: 2;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.upper {
  text-transform: uppercase;
}

.quote-container {
  margin-top: -10px;
  position: fixed;
  right: 8%;
  z-index: 10000;
  top: 7%;
}

#login-panel {
  display: flex;
  flex-direction: column;
}

.controls-container {
  padding: 3vh;
  position: fixed;
  width: 30vw;
  height: 56vh;
  right: 0;
  bottom: 0;
}

.speaker {
  position: absolute;
  background: repeating-linear-gradient(to right, rgb(184, 184, 184), rgb(184, 184, 184) 3px, #333333 3px, #333333 6px);
  bottom: 3vh;
  width: 15vw;
  height: 10vh;
  border: 5px gray solid;
  box-shadow: inset 5px 5px 11px rgba(0, 0, 0, 0.8705882353), inset -1px -1px 7px rgba(0, 0, 0, 0.8705882353), 5px 5px 11px rgba(0, 0, 0, 0.8705882353), 0px 0px 7px rgba(0, 0, 0, 0.8705882353);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.computerFrame2 {
  top: 30vh;
  position: absolute;
  width: 25vw;
  height: 10vh;
  background-color: #999999;
  border: 2px #888888 solid;
  border-radius: 20px;
  box-shadow: inset 1px 1px 11px rgba(0, 0, 0, 0.8705882353), inset -1px -1px 7px rgba(0, 0, 0, 0.8705882353), 5px 5px 11px rgba(0, 0, 0, 0.8705882353), 0px 0px 7px rgba(0, 0, 0, 0.8705882353);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.floppy {
  position: absolute;
  width: 90%;
  height: 50%;
  left: 5%;
  top: 5%;
  background-color: #222222;
  box-shadow: inset 1px 1px 11px rgba(0, 0, 0, 0.8705882353), inset -1px -1px 7px rgba(0, 0, 0, 0.8705882353), 1px 1px 11px rgba(0, 0, 0, 0.8705882353), 0px 0px 7px rgba(0, 0, 0, 0.8705882353);
}

.fingerGrip {
  position: absolute;
  width: 10%;
  height: 74%;
  background-color: #0d0d0d;
  top: 12%;
  left: 45%;
  border-radius: 3px;
}

.slot {
  position: absolute;
  width: 95%;
  height: 20%;
  left: 2.5%;
  top: 40%;
  background-color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

div[class^=socket] {
  position: absolute;
  width: 40%;
  height: 30%;
  top: 67%;
  background-color: black;
}

.socket1 {
  left: 5%;
}

.socket2 {
  right: 5%;
}

.note {
  color: #333;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  font-family: "East Sea Dokdo";
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0, 0, 0, 0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}

.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #a31;
  background-image: radial-gradient(25% 25%, circle, hsla(0deg, 0%, 100%, 0.3), hsla(0deg, 0%, 0%, 0.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0deg, 0%, 0%, 0.1), inset 3px 3px 3px hsla(0deg, 0%, 100%, 0.2), inset -3px -3px 3px hsla(0deg, 0%, 0%, 0.2), 23px 20px 3px hsla(0deg, 0%, 0%, 0.15);
  content: "";
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0deg, 0%, 0%, 0.1);
  box-shadow: 0 0 0.25em hsla(0deg, 0%, 0%, 0.1);
  content: "";
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;
  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);
  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  padding: 15px;
  top: 3%;
  right: 30%;
  bottom: 3%;
  left: 3%;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 20px;
  border: 15px solid;
  border-bottom-color: #222222;
  border-left-color: #050505;
  border-right-color: #050505;
  border-top-color: #111111;
  box-shadow: inset 0 0 10rem #020202, inset 0 0 3rem black, 0 0 10rem black;
}

/*# sourceMappingURL=styles.css.map */
